<section class="ml-40 mr-40 grid grid-cols-4 gap-4 pt-6">
    <div class="mx-auto shadow-2xl p-1 rounded-lg items-center">
        <div>
            <img class="w-56 h-auto rounded-lg" src="/img/spring_rolls.jpg" alt="">
            <h1 class="font-bold pl-2 text-lg">Spring rolls</h1>
        </div>
        <div class="flex justify-center">
            <span class=" flex-1 pl-2 font-bold text-lg">$200</span>
            <button class="flex-1 btn-primary text-center rounded-full">Add</button>
        </div>
    </div>
    <div class="mx-auto shadow-2xl p-1 rounded-lg items-center">
        <div>
            <img class="w-56 h-auto rounded-lg" src="/img/spring_rolls.jpg" alt="">
            <h1 class="font-bold pl-2 text-lg">Spring rolls</h1>
        </div>
        <div class="flex justify-center">
            <span class=" flex-1 pl-2 font-bold text-lg">$200</span>
            <button class="flex-1 btn-primary text-center rounded-full">Add</button>
        </div>
    </div>
    <div class="mx-auto shadow-2xl p-1 rounded-lg items-center">
        <div>
            <img class="w-56 h-auto rounded-lg" src="/img/spring_rolls.jpg" alt="">
            <h1 class="font-bold pl-2 text-lg">Spring rolls</h1>
        </div>
        <div class="flex justify-center">
            <span class=" flex-1 pl-2 font-bold text-lg">$200</span>
            <button class="flex-1 btn-primary text-center rounded-full">Add</button>
        </div>
    </div>
    <div class="mx-auto shadow-2xl p-1 rounded-lg items-center">
        <div>
            <img class="w-56 h-auto rounded-lg" src="/img/spring_rolls.jpg" alt="">
            <h1 class="font-bold pl-2 text-lg">Spring rolls</h1>
        </div>
        <div class="flex justify-center">
            <span class=" flex-1 pl-2 font-bold text-lg">$200</span>
            <button class="flex-1 btn-primary text-center rounded-full">Add</button>
        </div>
    </div>
    <div class="mx-auto shadow-2xl p-1 rounded-lg items-center">
        <div>
            <img class="w-56 h-auto rounded-lg" src="/img/spring_rolls.jpg" alt="">
            <h1 class="font-bold pl-2 text-lg">Spring rolls</h1>
        </div>
        <div class="flex justify-center">
            <span class=" flex-1 pl-2 font-bold text-lg">$200</span>
            <button class="flex-1 btn-primary text-center rounded-full">Add</button>
        </div>
    </div>
    <div class="mx-auto shadow-2xl p-1 rounded-lg items-center">
        <div>
            <img class="w-56 h-auto rounded-lg" src="/img/spring_rolls.jpg" alt="">
            <h1 class="font-bold pl-2 text-lg">Spring rolls</h1>
        </div>
        <div class="flex justify-center">
            <span class=" flex-1 pl-2 font-bold text-lg">$200</span>
            <button class="flex-1 btn-primary text-center rounded-full">Add</button>
        </div>
    </div>
    
</section>