<section class="hero py-16 px-32">
    <div class=" container flex mx-auto items-center justify-between">
        <div class="pl-16">
            <h6 class="text-lg"><em>Are you hungry?</em></h6>
            <h1 class="text-6xl font-bold">Don't wait!</h1>
        </div>
        <div class="w-2/3">
            <img src="/img/food/Biryanis/Mughalai chicken-Biryani.png" alt="">
        </div>
    </div>
</section>